/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/** end reset css**/
body {
    max-width: 1140px;
    margin: auto;
    font-family: 'Work Sans';
    font-size: 14px;
}

header {
    display: flex;
    justify-content: space-between;
    margin: 50px 0;
}

section {
    margin: 50px 0;
}

h1 {
    display: flex;
    flex-direction: column;
    font-family: 'Syne';
    font-size: 22px;
    font-weight: 800;
    color: #B1663C
}

h1>span {
    font-family: 'Work Sans';
    font-size: 10px;
    letter-spacing: 0.1em;
}

h2 {
    font-family: 'Syne';
    font-weight: 700;
    font-size: 30px;
    color: #1D6154
}

nav ul {
    display: flex;
    align-items: center;
    list-style-type: none;
}

nav li {
    padding: 0 10px;
    font-size: 1.2em;
}

li:hover {
    color: #B1663C;
}

#introduction {
    display: flex;
    align-items: center;
}

#introduction figure {
    flex: 1
}

#introduction img {
    display: block;
    margin: auto;
    width: 80%;
}

#introduction article {
    flex: 1
}

#introduction h2 {
    margin-bottom: 1em;
}

#introduction p {
    margin-bottom: 0.5em;
}

#portfolio {
    margin-top: 140px;
}

#portfolio h2 {
    text-align: center;
    margin-bottom: 1em;
    position: relative;
}

.categories {
    height: 37px;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.categories button {
    min-width: 100px;
    color: #1D6154;
    background-color: white;
    border: 1px #1D6154 solid;
    border-radius: 60px;
    padding: 0px 10px;
    font-size: 16px;
    font-weight: 700;
}

.categories button:hover {
    color: white;
    background-color: #1D6154;
}

.gallery {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    margin-top: 2em;
}

.gallery img {
    width: 100%;
}

#login,
#contact {
    width: 50%;
    margin: auto;
}

#login>*,
#contact>* {
    text-align: center;
}

#login h2,
#contact h2 {
    margin-bottom: 20px;
}

#login form,
#contact form {
    text-align: left;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
}

#login input,
#contact input {
    height: 50px;
    font-size: 1.2em;
    border: none;
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

#login label,
#contact label {
    margin: 2em 0 1em 0;
}

#contact textarea {
    border: none;
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

#btn-connexion,
#btn-envoyer {
    font-family: 'Syne';
    font-weight: 700;
    color: white;
    background-color: #1D6154;
    margin: 2em auto;
    width: 180px;
    text-align: center;
    border-radius: 60px;
}

#login p {
    text-decoration: underline;
}

#message-erreur {
    color: red;
    margin-bottom: 2em;
    text-align: center;
    text-decoration: none !important;
}

footer nav ul {
    display: flex;
    justify-content: flex-end;
    margin: 2em
}

.footer-login {
    position: absolute;
    bottom: 0;
    right: 0;
}

/** mode édition **/

.barre-mode {
    height: 59px;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 21px;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
}

.btn-modifier {
    display: flex;
    align-items: end;
    gap: 10px;
    background-color: white;
    border: none;
    padding-left: 10px;
    position: absolute;
    left: 59%;
    top: 70.5%;
}

/** modales **/

dialog {
    position: relative;
    width: 630px;
    height: 688px;
    top: 945px;
    /** (660 + (688 / 2) - 59) **/
    border: none;
    border-radius: 10px;
}

dialog::backdrop {
    background-color: rgba(0, 0, 0, 0.3);
}

.vue1,
.vue2 {
    display: none;
    flex-direction: column;
    align-items: center;
    height: 688px;
}

#btn-fermer {
    min-width: 630px;
    text-align: end;
    cursor: default;
}

dialog h3 {
    font-size: 26px;
    font-weight: 400;
    margin: auto;
}

.vue1 .grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 9px;
    grid-row-gap: 2em;
    padding: 2em 0 4em 0;
    border-bottom: 1px #b3b3b3 solid;
}

.vue1 figure {
    position: relative;
}

.vue1 img {
    width: 79px;
    height: 103px;
}

.icone-delete {
    background-color: black;
    color: white;
    font-size: 17px;
    top: 3px;
    right: 3px;
    position: absolute;
    cursor: default;
}

.btns-retour-fermer {
    display: flex;
    width: 630px;
    justify-content: space-between;
}

#btn-retour {
    cursor: default;
}

#btn-fermer-2 {
    cursor: default;
}

#btn-ajouter {
    width: 237px;
    height: 36px;
    font-size: 14px;
    font-weight: 700;
    background-color: #1D6154;
    color: white;
    border: none;
    border-radius: 60px;
    margin: auto;

}

.zone-select-image {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 420px;
    height: 169px;
    background-color: #e8f1f6;
    gap: 5px;
}

.icone-select-image {
    font-size: 76px;
    color: #b9c5cc;
    cursor: default;
}

#btn-ajouter-image {
    width: 173px;
    height: 36px;
    background-color: #CBD6DC;
    color: #306685;
    border: none;
    border-radius: 50px;
    font-size: 17px;
    font-weight: 700;
}

.btn-valider {
    width: 237px;
    height: 36px;
    font-size: 14px;
    font-weight: 700;
    background-color: #a7a7a7;
    color: white;
    border: none;
    border-radius: 60px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2em;
}

.vue2 form {
    text-align: left;
    margin-top: 0.5em;
    display: flex;
    flex-direction: column;
    margin-bottom: 4em;
}

#titre,
#categorie {
    width: 420px;
    height: 50px;
    font-size: 14px;
    font-weight: 400;
    border: none;
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
    background-color: white;
}

.vue2 label {
    margin: 2em 0 1em 0;
}

.zone-message {
    height: 4em;
    border-bottom: 1px #b3b3b3 solid;
}

.zone-message p {
    padding-top: 2em;
    color: red;
}

.zone-ajout .btn-ajout-image {
    margin: 0;
}

.nouvelle-image {
    width: 129px;
    height: 100%;
    object-fit: cover;
}
